In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#"TRACT","STATE_FIPS"

In [3]:
serviceAreas_df = pd.DataFrame(pd.read_csv("MSSA_Detail.csv"))
serviceAreas_df.head(10)

,OBJECTID,TRACT,STATE_FIPS,CNTY_FIPS,TRACT_CODE,CENSUS_KEY,COUNTY,TRACT_ID,MSSA_ID,MSSA_NAME,...,AGE_18_64,PCT_18_64,AGE_65OVER,PCT_65OVER,ELD_RATIO,YTH_RATIO,Shape_STArea_1,Shape_STLength_1,Shape__Area,Shape__Length
0,1,4427.0,6,1,442700,6001442700,Alameda,4427.0,2i,Fremont South/Mission San Jose/Newark South/Wa...,...,1920,60.797973,491,15.547815,0.085366,0.182927,0,0,1.234033e+06,4764.916655
1,2,4428.0,6,1,442800,6001442800,Alameda,4428.0,2i,Fremont South/Mission San Jose/Newark South/Wa...,...,2035,65.245271,419,13.433793,0.296117,0.475728,0,0,1.278647e+06,4762.049318
2,3,2049.2,6,37,204920,6037204920,Los Angeles,2049.2,78.2h,Boyle Heights Central/City Terrace West,...,1580,61.936495,272,10.662485,0.209726,0.924012,0,0,9.099753e+05,3900.202320
3,4,2051.1,6,37,205110,6037205110,Los Angeles,2051.1,78.2h,Boyle Heights Central/City Terrace West,...,2097,58.970754,168,4.724409,0.138821,0.888206,0,0,2.869607e+05,2813.128371
4,5,2051.2,6,37,205120,6037205120,Los Angeles,2051.2,78.2h,Boyle Heights Central/City Terrace West,...,2154,61.666190,286,8.187804,0.286744,0.670029,0,0,1.466126e+06,6115.674007
5,6,2060.1,6,37,206010,6037206010,Los Angeles,2060.1,78.2ff,Glassell Park/Glendale Southeast/Silverlake North,...,1792,69.029276,302,11.633282,0.273011,0.507020,0,0,1.438676e+06,6421.144817
6,7,2060.2,6,37,206020,6037206020,Los Angeles,2060.2,78.2ffff,Boyle Heights Northwest/Chinatown/Downtown Nor...,...,414,93.877551,0,0.000000,0.000000,0.958333,0,0,8.735365e+05,3666.485430
7,8,2060.5,6,37,206050,6037206050,Los Angeles,2060.5,78.2mmm,Downtown Southeast/Florence North,...,1286,55.913043,436,18.956522,0.240271,0.678511,0,0,1.738033e+06,7759.974969
8,9,2074.0,6,37,207400,6037207400,Los Angeles,2074.0,78.2ffff,Boyle Heights Northwest/Chinatown/Downtown Nor...,...,1,3.448276,28,96.551724,0.000000,0.000000,0,0,8.694138e+05,4624.119123
9,10,4429.0,6,1,442900,6001442900,Alameda,4429.0,2i,Fremont South/Mission San Jose/Newark South/Wa...,...,5085,65.250866,1000,12.832029,0.070423,0.328638,0,0,2.066532e+06,6702.080700

In [ ]:
erviceAreas_df.drop(columns=['OBJECTID', 'STATE_FIPS', 'MSSA_ID', 'TRACT_ID', 'TRACT_CODE', 'TRACT', 'CENSUS_KEY',                         'MSSA_NAME', 'Shape_STArea_1', 'Shape_STLength_1', 'Shape__Area', 'Shape__Length'], inplace=True)
serviceAreas_df.dropna(inplace=True)

serviceAreas_df.head()

In [ ]:
serviceAreas_df.columns

In [ ]:
serviceAreas_df = serviceAreas_df.groupby('CNTY_FIPS').agg({'AREA_SQMI':'sum', 'POP':'sum', 'POP_CIV':'sum', 'TOTALPOVPOP':'sum',
                                                           'POP100POV':'sum', 'PCT100POV':'mean', 'POP200POV':'sum', 'PCT200POV':'mean', 
                                                           'WHITE':'sum', 'PCT_WHITE':'mean', 'NHS_WHITE':'sum', 'PCT_NHS_WHITE':'mean',
                                                           'BLACK':'sum', 'PCT_BLACK':'mean', 'NHS_BLACK':'sum', 'PCT_NHS_BLACK':'mean', 
                                                           'ASIAN':'sum', 'PCT_ASIAN':'mean', 'NHS_ASIAN':'sum', 'PCT_NHS_ASIAN':'mean',
                                                           'AMIND_ESK':'sum', 'PCT_AMIND_ESK':'mean', 'NHS_AMIND_ESK':'sum', 
                                                           'PCT_NHS_AMIND_ESK':'mean', 'ISLANDER':'sum', 'PCT_ISLAND':'mean', 
                                                           'NHS_ISLANDER':'sum', 'PCT_NHS_ISLANDER':'mean', 'OTHER_RACE':'sum', 'PCT_OTHER':'mean',
                                                           'NHS_OTHER_RACE':'sum', 'PCT_NHS_OTHER_RACE':'mean', 'MULTI_RACE':'sum', 'PCT_MULTI':'mean', 
                                                           'NHS_MULTI_RACE':'sum', 'PCT_NHS_MULTI_RACE':'mean', 'HISPANIC':'sum', 'PCT_HSPNC':'mean', 
                                                           'AGE_UNDER5':'sum', 'PCT_UNDER5':'mean', 'AGE_UNDR18':'sum', 'PCT_UNDR18':'mean', 
                                                           'AGE_18_64':'sum', 'PCT_18_64':'mean', 'AGE_65OVER':'sum', 'PCT_65OVER':'mean',
                                                           'ELD_RATIO':'mean', 'YTH_RATIO':'mean'})

In [ ]:
serviceAreas_df.head(15)