In [13]:
import pandas as pd
import gmaps

from config import g_key

In [14]:
latlng_df = pd.DataFrame(pd.read_csv("CenPop2010CountyCenters.csv"))
latlng_df.head()

   STATEFP  COUNTYFP    COUNAME      STNAME  POPULATION   LATITUDE   LONGITUDE
0        6         1    Alameda  California     1510271  37.705201 -122.100393
1        6         3     Alpine  California        1175  38.728298 -119.847603
2        6         5     Amador  California       38091  38.394208 -120.775729
3        6         7      Butte  California      220000  39.669037 -121.707635
4        6         9  Calaveras  California       45578  38.163627 -120.633718

In [15]:
PCSA_df = pd.DataFrame(pd.read_csv("Primary_Care_Shortage_Areas_(PCSA).csv"))
PCSA_df.head()

,OBJECTID,UNIT_COUNT,CNTY_FIPS,COUNTY,MSSA_ID,MSSA_NAME,DEFINITION,POPDENSITY,AREA_SQMI,POP,PCSA,PCSA_SCORE,PC_PHYS,PC_PHYS_R_CIV,POVScore,PHYSRatioScore,Shape__Area,Shape__Length
0,1,11,1,Alameda,1.1,Livermore Central and West/Spring Town,Urban,1752.000139,0.472102,43860,0,2,48.0,1186.104167,1,1,0.008283,0.489279
1,2,8,1,Alameda,1.2,Altamont/Livermore East/Midway/Mountain House/...,Rural,116.545153,1.950268,32480,1,6,12.0,3167.333333,1,5,0.086298,1.651976
2,3,12,7,Butte,10,Oroville/Palermo/Thermalito,Rural,175.468375,7.768868,42656,1,5,34.0,1408.352941,4,1,0.075224,1.615445
3,4,1,49,Modoc,100,Adin/Lookout/Newell,Frontier,2.315574,956.134376,1454,1,7,0.0,0.000000,2,5,0.267075,3.281548
4,5,2,51,Mono,102,Benton/Bridgeport/Chalfant/Crowley Lake/Colevi...,Frontier,1.957937,1452.267904,5343,1,6,1.0,5951.000000,1,5,0.813804,5.793963

In [16]:
#MSSA_NAME	text	MSSA_NAME	Name of the MSSA.
#Total_Population	numeric	Total_Population	Total Population of the MSSA.
#EST_Physicians	numeric	EST_Physicians	Estimated number of primary care physicians in the MSSA.  Includes MDs and DOs.
#EST_FNPPA	numeric	EST_FNPPA	Estimated number of family nurse practitioners and primary care physician assistants in the MSSA.
#EST_Providers	numeric	EST_Providers	Estimated number of primary care providers in the MSSA.  Calculated as EST_Physicians + (0.75 * EST_FNPPA).
#Provider_Ratio	numeric	Provider_Ratio	Population-to-provider ratio of the MSSA.  Calculated as Total_Population / EST_Providers.
#Score_Provider_Ratio	numeric	Score_Provider_Ratio	Subscore based on the provider ratio of the MSSA.  Possible values are 0-5.
#Pop_100FPL	numeric	Pop_100FPL	Population living  below the federal poverty level in the MSSA.
#PCT_100FPL	numeric	PCT_100FPL	Percent of the population in the MSSA living below the federal poverty level.  Calculated as Pop_100FPL / Total_Population.
#Score_Poverty	numeric	Score_Poverty	Subscore based on the poverty of the MSSA.  Possible values are 0-5.
#Score_Total	numeric	Score_Total	Final score of the MSSA for consideration as a Primary Care Shortage Area (PCSA).  Calculated as Score_Provider_Ratio + Score_Poverty.  Possible values are 0-10.
#PCSA	text	PCSA	Indicates whether the MSSA is considered a PCSA.  Possible values are Yes or No.
#Effective Date	timestamp	Effective_Date	Effective date of the PCSA designation.

In [18]:
PCSA_df.drop(columns=['OBJECTID','CNTY_FIPS','DEFINITION','MSSA_NAME','Shape__Area','UNIT_COUNT', 'POVScore',
'Shape__Length','PC_PHYS_R_CIV', 'MSSA_ID', 'POPDENSITY', 'AREA_SQMI', 'POP', 'PCSA', 'PC_PHYS', 'PCSA_SCORE'], inplace=True)
PCSA_df = PCSA_df.loc[PCSA_df['PHYSRatioScore'].isnull().values == False]

PCSA_df.head()

    COUNTY  PHYSRatioScore
0  Alameda               1
1  Alameda               5
2    Butte               1
3    Modoc               5
4     Mono               5

In [22]:
PCSA_merged_df = PCSA_df.merge(latlng_df, how='outer', left_on=PCSA_df['COUNTY'] , right_on=latlng_df['COUNAME'])
PCSA_merged_df.head()

,key_0,COUNTY,PHYSRatioScore,STATEFP,COUNTYFP,COUNAME,STNAME,POPULATION,LATITUDE,LONGITUDE
0,Alameda,Alameda,1,6,1,Alameda,California,1510271,37.705201,-122.100393
1,Alameda,Alameda,5,6,1,Alameda,California,1510271,37.705201,-122.100393
2,Alameda,Alameda,0,6,1,Alameda,California,1510271,37.705201,-122.100393
3,Alameda,Alameda,0,6,1,Alameda,California,1510271,37.705201,-122.100393
4,Alameda,Alameda,0,6,1,Alameda,California,1510271,37.705201,-122.100393

In [23]:
PCSA_merged_df.drop(columns=['key_0', 'STATEFP', 'COUNTYFP','STNAME', 'POPULATION', 'COUNAME'], inplace=True)
PCSA_merged_df.head()

    COUNTY  PHYSRatioScore   LATITUDE   LONGITUDE
0  Alameda               1  37.705201 -122.100393
1  Alameda               5  37.705201 -122.100393
2  Alameda               0  37.705201 -122.100393
3  Alameda               0  37.705201 -122.100393
4  Alameda               0  37.705201 -122.100393

In [24]:
PCSA_merged_df = PCSA_merged_df.groupby('COUNTY').agg({'PHYSRatioScore':'median', 'LATITUDE':'mean',
                                            'LONGITUDE': 'mean'})
PCSA_merged_df.head(10)

              PHYSRatioScore   LATITUDE   LONGITUDE
COUNTY
Alameda                  0.5  37.705201 -122.100393
Alpine                   5.0  38.728298 -119.847603
Amador                   2.0  38.394208 -120.775729
Butte                    1.5  39.669037 -121.707635
Calaveras                2.0  38.163627 -120.633718
Colusa                   5.0  39.156148 -122.085557
Contra Costa             1.0  37.935588 -122.030131
Del Norte                0.0  41.791232 -124.163088
El Dorado                3.0  38.746543 -120.744330
Fresno                   5.0  36.738918 -119.767884

In [25]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

In [26]:
locations = PCSA_merged_df[["LATITUDE", "LONGITUDE"]].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights= PCSA_merged_df['PHYSRatioScore'],
                                 dissipating=False, max_intensity=8.5,
                                 point_radius = .7)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))